// COLORS 

$color-primary-light: rgb(221, 228, 247);
$color-primary: #A4BCF4;
$color-primary-dark: rgb(70, 103, 180);

$color-secondary: #F9F195;
$color-secondary-dark: rgb(247, 232, 74);

$color-heart: #E2282F;

$color-grey: #DBDCDF;

$color-black: #111;

$color-white: #f7f7f2;

//FONT SIZES 
$default-font-size: 1.6rem;

// GRID
$grid-width: 90rem;
$gutter-vertical: 6rem;
$gutter-horizontal: 6rem;

// BORDERS
$default-border-radius: .3rem;